#components-InputWithSelector {
  input {
    border: none;
  }
  button {
    background-color: #eefdff;
    box-shadow: none;
    border: 1px solid #eefdff;
    border-radius: 8px;
    text-shadow: none;
    cursor: pointer;
  }
}
.inputstyle {
  border: 1px solid #5681c2;
  border-radius: 8px;
  background-color: #eefdff;
}
